@import 'compass/css3';

body{
	margin: 0;
	overflow: auto;
}

.bg {
	position:absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	/*z-index: 1;*/
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 1s ease-in-out;
	height: 100vh;
	display: block;
	/*overflow: hidden;*/
	opacity: 0;

	&.active{
		opacity: 1;
		-webkit-filter: invert(0.1);
		filter: invert(0.1);
	};
}

#bg0 {
	background-image: url("../../images/paella.jpg");
}

.container {
	opacity: 0.87;
	font-family: 'Lato', sans-serif;
	color: #fff;
	z-index: 2;
	text-align: center;
	bottom: 0;
	position: fixed;

	p {
		margin: 0;
	}
	
	#clock {
		font-weight: bolder;
		font-size: 75px;
	}

	#datetime {
		font-size: 18px;
		font-weight: normal;
		padding-bottom: 20px;
	}

	h1 {
  		bottom: 25px;
		position: relative;
		letter-spacing: 1px;
		font-size: 25px;
		padding: 10px 0;
	}
}

.wrapper {
	/* set the height of the element which contains what you want to center */
	height: 100%;
	/* these styles are optional, to set width horizontally center the page */
	max-width: 500px;
	margin: 0 auto;
}

.wrapper:before, .container {
  /* these are the important styles for the centered element: */
  display: inline-block;
  vertical-align: bottom;
  width:100%;
}

.nav {
	display: inline-block;

	#next {
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		background-color:rgba(0, 0, 0, 0);
		width: 60px;
		z-index: 3;
	}

	#next:hover {
		background-color: rgba(0, 0, 0, .1);
	}

	#next img {
		top: 45%;
		left: 30%;
		position: absolute;
	}
}

.wrapper:before {
  /* this is the important part */
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  /*vertical-align: middle;*/
  /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
  margin-left: -0.25em;
}