/* line 3, ../sass/main.scss */
body {
  margin: 0;
  overflow: auto;
}

/* line 8, ../sass/main.scss */
.bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /*z-index: 1;*/
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease-in-out;
  height: 100vh;
  display: block;
  /*overflow: hidden;*/
  opacity: 0;
  /*&:not(.active){
  	opacity: 0;
  	/*display: none;
  }; */
}
/* line 25, ../sass/main.scss */
.bg.active {
  opacity: 1;
}

/* line 34, ../sass/main.scss */
#bg0 {
  background-image: url("../../images/paella.jpg");
}

/* line 38, ../sass/main.scss */
.container {
  opacity: 0.87;
  font-family: 'Lato', sans-serif;
  color: #fff;
  z-index: 2;
  text-align: center;
  bottom: 0;
  position: fixed;
}
/* line 47, ../sass/main.scss */
.container p {
  font-weight: bolder;
  font-size: 75px;
  margin: 0;
}
/* line 53, ../sass/main.scss */
.container h1 {
  bottom: 25px;
  position: relative;
  letter-spacing: 1px;
  font-size: 25px;
  padding: 10px 0;
}

/* line 62, ../sass/main.scss */
.wrapper {
  /* set the height of the element which contains what you want to center */
  height: 100%;
  /* these styles are optional, to set width horizontally center the page */
  max-width: 500px;
  margin: 0 auto;
}

/* line 70, ../sass/main.scss */
.wrapper:before, .container {
  /* these are the important styles for the centered element: */
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}

/* line 77, ../sass/main.scss */
.nav {
  display: inline-block;
}
/* line 80, ../sass/main.scss */
.nav #next {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  width: 60px;
  z-index: 3;
}
/* line 90, ../sass/main.scss */
.nav #next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 94, ../sass/main.scss */
.nav #next img {
  top: 45%;
  left: 30%;
  position: absolute;
}

/* line 101, ../sass/main.scss */
.wrapper:before {
  /* this is the important part */
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  /*vertical-align: middle;*/
  /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
  margin-left: -0.25em;
}
