/* line 6, ../sass/main.scss */
body {
  margin: 0;
  overflow: auto;
}

/* line 11, ../sass/main.scss */
.bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /*z-index: 1;*/
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease-in-out;
  height: 100vh;
  display: block;
  /*overflow: hidden;*/
  opacity: 0;
}
/* line 28, ../sass/main.scss */
.bg.active {
  opacity: 1;
  -webkit-filter: invert(0.1);
  filter: invert(0.1);
}

/* line 35, ../sass/main.scss */
body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  transition: opacity 500ms;
}

/* line 41, ../sass/main.scss */
.container {
  opacity: 0.87;
  z-index: 2;
  text-align: center;
  bottom: 0;
  position: fixed;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}
/* line 51, ../sass/main.scss */
.container p {
  margin: 0;
}
/* line 55, ../sass/main.scss */
.container #clock {
  font-weight: bolder;
  font-size: 75px;
}
/* line 60, ../sass/main.scss */
.container #datetime {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 20px;
  color: #EAEAEA;
}
/* line 67, ../sass/main.scss */
.container h1 {
  bottom: 25px;
  position: relative;
  letter-spacing: 1px;
  font-size: 25px;
  padding: 10px 0;
}

/* line 76, ../sass/main.scss */
.hidden {
  display: none;
}

/* line 80, ../sass/main.scss */
.leftnav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15%;
  z-index: 3;
}
/* line 88, ../sass/main.scss */
.leftnav p {
  position: fixed;
  left: 60px;
  letter-spacing: 0.5px;
  opacity: 0.87;
}
/* line 95, ../sass/main.scss */
.leftnav #food_fix {
  font-size: 14;
  font-weight: bolder;
  bottom: 25;
  letter-spacing: 0.5px;
  left: 40px;
}
/* line 103, ../sass/main.scss */
.leftnav #food_title {
  bottom: 8px;
  font-size: 12;
  letter-spacing: 0.5px;
  /*font-weight: lighter; */
  color: #EAEAEA;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 115, ../sass/main.scss */
.leftnav #food_title:hover {
  color: #fff;
  opacity: 0.87;
}
/* line 120, ../sass/main.scss */
.leftnav #yelp_img {
  width: 15px;
  position: fixed;
  left: 40px;
  bottom: 41;
}
/* line 127, ../sass/main.scss */
.leftnav #flickr_img {
  width: 15px;
  position: fixed;
  left: 40px;
  bottom: 21;
}

/* line 135, ../sass/main.scss */
.rightnav {
  display: inline-block;
}
/* line 138, ../sass/main.scss */
.rightnav #next {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  width: 60px;
  z-index: 3;
}
/* line 148, ../sass/main.scss */
.rightnav #next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 152, ../sass/main.scss */
.rightnav #next img {
  top: 45%;
  left: 30%;
  position: absolute;
}

/* line 159, ../sass/main.scss */
.vignette:after {
  box-shadow: inset 0 0 15em #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
}
